.ImageCard {
  overflow: hidden;
  position: relative;
}
.ImageCard__overlay {
  will-change: opacity;
  background-color: black;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: all 1s ease-out;
  width: 100%;
  z-index: 1;
}
.ImageCard:hover .ImageCard__overlay {
  opacity: 0.2;
}
.ImageCard__img {
  will-change: transform;
  transition: all 1s ease-out;
}
.ImageCard:hover .ImageCard__img {
  transform: scale(1.05);
}
.ImageCard__btnContainer {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  z-index: 3;
}
.ImageCard__btn {
  will-change: transform, opacity;
  background-color: transparent;
  border: none;
  height: 40px;
  opacity: 0;
  transition: all 0.5s ease-out;
  width: 40px;
}
.ImageCard__btn:active,
.ImageCard__btn:focus,
.ImageCard__btn:hover {
  opacity: 1;
  transform: scale(1.1);
}
.ImageCard:active .ImageCard__btn,
.ImageCard:focus .ImageCard__btn,
.ImageCard:hover .ImageCard__btn {
  opacity: 1;
}
.ImageCard__body {
  will-change: opacity;
  bottom: 0;
  color: white;
  left: 0;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  z-index: 2;
}
.ImageCard:active .ImageCard__body,
.ImageCard:focus .ImageCard__body,
.ImageCard:hover .ImageCard__body {
  opacity: 1;
}
.ImageCard__description:first-letter {
  text-transform: uppercase;
}
