.Main {
  min-height: 100%;
  padding: 6rem 0;
  width: 100%;
}
.Main__spinner {
  margin: 1rem 0;
  text-align: center;
  width: 100%;
}

@media only screen and (max-width: 991px) {
  .Main__heading {
    text-align: center;
    width: 100%;
  }
}
