.Main {
  width: 100%;
  min-height: 100%;
  padding: 6rem 0;
}
.Main__loader {
  width: 100%;
  text-align: center;
}

@media only screen and (max-width: 991px) {
  .Main__heading {
    width: 100%;
    text-align: center;
  }
}
